# Use GitHub Package Registry for scoped packages
@duabalabs:registry=https://npm.pkg.github.com/

# Always use the public npm registry as the default
registry=https://registry.npmjs.org/

# Authenticate to GitHub Package Registry using a GitHub token
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}